<div id="mechanics">
		<div class="image"></div>
		<ul class="menu">
			<li><a href="/insights/api/sync"><i class="icon-tumblr"></i><br>s<br>y<br>n<br>c</a></li>
			<li><a href="/insights/api/download"><i class="icon-download-alt"></i><br>.<br>c<br>s<br>v</a></li>
		</ul>
	</div><!-- /#mechanics -->