<div id="inquiries-nav" class="span6 offset2">
	<div id="inquiries-nav-choose" class="row-fluid nav-choose">
		<div class="mono center">
			<span class="selected">inquiries</span>
		</div>
	</div>

	<div class="row-fluid">
		<select class="span8 offset4">
			<option default>Inquiry #1</option>
		</select>
		<div class="span4">
			<div class="controls-toggle">
				<i class="icon-cog toggle ctrl"></i>
				<ul class="menu-controls">
					<li class="add"><i class="icon-plus ctrl "></i></li>
					<li class="edit"><i class="icon-edit ctrl "></i></li>
					<li class="download"><i class="icon-download-alt ctrl"></i></li>
				</ul>
			</div>
		</div>
	</div>
</div><!-- /#feed-nav -->