<div id="feed-<% if(data._id){ %><%= data._id %><% }else{ %>new<% } %>" class="span8 offset4 inner">
	<div class="editbutton"><i class="icon-edit"></i></div>
	<div class="row-fluid">
		<div class="span4 offset2 bttn delete">Delete</div>
		<div class="span4 bttn cancel">Cancel</div>
		<div class="span4 bttn save">Save</div>
	</div>

	
	<ul class="row-fluid inline-list">
		<li><i class="icon-tumblr"></i></li>
		<li><i class="icon-twitter"></i></li>
		<li><i class="icon-instagram"></i></li>
		<li><i class="icon-rss"></i></li>
	</ul>
</div>